Repository UltimateSoftware/surge, pull requests merged in 2021-07, with the labels that each got.

#24 wrap arrayblockingqueue in source
  modules/command-engine/core/src/main/scala/surge/internal/domain/SurgeMessagePipeline.scala
  modules/command-engine/core/src/main/scala/surge/internal/kafka/KafkaProducerActorImpl.scala
  modules/command-engine/core/src/test/scala/surge/internal/domain/SurgeMessagePipelineSpec.scala
  modules/common/src/main/resources/reference.conf
  modules/common/src/main/scala/surge/health/Health.scala
  modules/common/src/main/scala/surge/health/config/WindowingStreamConfig.scala
  modules/common/src/main/scala/surge/health/matchers/SignalPatternMatcherRegistry.scala
  modules/common/src/main/scala/surge/internal/config/BackoffConfig.scala
  modules/common/src/main/scala/surge/internal/health/HealthSignalBus.scala
  modules/common/src/main/scala/surge/internal/health/HealthSignalStreamProvider.scala
  modules/common/src/main/scala/surge/internal/health/SupervisionMonitorSupport.scala
  modules/common/src/main/scala/surge/internal/health/supervisor/HealthSupervisorActor.scala
  modules/common/src/main/scala/surge/internal/health/windows/actor/HealthSignalWindowActor.scala
  modules/common/src/main/scala/surge/internal/health/windows/stream/SignalPatternMatchResultHandler.scala
  modules/common/src/main/scala/surge/internal/health/windows/stream/WindowingHealthSignalStream.scala
  modules/common/src/main/scala/surge/internal/health/windows/stream/sliding/SlidingHealthSignalStream.scala
  modules/common/src/main/scala/surge/kafka/KafkaProducer.scala
  modules/common/src/test/resources/sliding-health-signal-stream-spec.conf
  modules/common/src/test/resources/windowing-stream-config-loader-spec.conf
  modules/common/src/test/scala/surge/health/config/WindowingStreamConfigLoaderSpec.scala
  modules/common/src/test/scala/surge/internal/health/HealthSignalBusSpec.scala
  modules/common/src/test/scala/surge/internal/health/HealthSignalStreamProviderSpec.scala
  modules/common/src/test/scala/surge/internal/health/context/TestContext.scala
  modules/common/src/test/scala/surge/internal/health/matchers/RepeatingSignalMatcherSpec.scala
  modules/common/src/test/scala/surge/internal/health/supervisor/HealthSupervisorActorSpec.scala
  modules/common/src/test/scala/surge/internal/health/windows/actor/HealthSignalWindowActorSpec.scala
  modules/common/src/test/scala/surge/internal/health/windows/stream/sliding/SlidingHealthSignalStreamSpec.scala
Labels: enhancement

#38 Properly wrap and handle exceptions thrown by processCommand in the javadsl
  build.sbt
  modules/command-engine/javadsl/src/main/scala/surge/javadsl/command/CommandModels.scala
  modules/command-engine/javadsl/src/test/scala/surge/javadsl/command/CommandModelsSpec.scala
Labels: bug

#43 Use local actor ref provider for health signal actor system
  modules/common/src/main/resources/reference.conf
  modules/common/src/main/scala/surge/internal/health/HealthSignalBus.scala
Labels: bug

#35 Refactor Registration for Supervision
  build.sbt
  modules/command-engine/core/src/main/resources/reference.conf
  modules/command-engine/core/src/main/scala/surge/core/KafkaProducerActor.scala
  modules/command-engine/core/src/main/scala/surge/internal/core/SurgePartitionRouterImpl.scala
  modules/command-engine/core/src/main/scala/surge/internal/domain/SurgeMessagePipeline.scala
  modules/command-engine/core/src/main/scala/surge/internal/persistence/PersistentActorRegion.scala
  modules/command-engine/core/src/test/scala/surge/core/KafkaProducerActorSpec.scala
  modules/command-engine/core/src/test/scala/surge/internal/domain/SurgeMessagePipelineSpec.scala
  modules/common/src/main/resources/reference.conf
  modules/common/src/main/scala/surge/core/Controllable.scala
  modules/common/src/main/scala/surge/health/Health.scala
  modules/common/src/main/scala/surge/internal/akka/actor/ActorLifecycleManagerActor.scala
  modules/common/src/main/scala/surge/internal/config/TimeoutConfig.scala
  modules/common/src/main/scala/surge/internal/health/HealthSignalBus.scala
  modules/common/src/main/scala/surge/internal/health/HealthSignalStreamProvider.scala
  modules/common/src/main/scala/surge/internal/health/supervisor/HealthSupervisorActor.scala
  modules/common/src/main/scala/surge/internal/health/windows/stream/sliding/SlidingHealthSignalStream.scala
  modules/common/src/main/scala/surge/internal/utils/ExecutionContextProber.scala
  modules/common/src/main/scala/surge/kafka/streams/AggregateStateStoreKafkaStreams.scala
  modules/common/src/test/scala/surge/internal/akka/cluster/ShardSpec.scala
  modules/common/src/test/scala/surge/internal/health/HealthSignalBusSpec.scala
  modules/common/src/test/scala/surge/internal/health/HealthSignalStreamProviderSpec.scala
  modules/common/src/test/scala/surge/internal/health/matchers/RepeatingSignalMatcherSpec.scala
  modules/common/src/test/scala/surge/internal/health/supervisor/HealthSupervisorActorSpec.scala
  modules/common/src/test/scala/surge/internal/health/windows/stream/sliding/SlidingHealthSignalStreamSpec.scala
  modules/common/src/test/scala/surge/kafka/KafkaPartitionShardRouterActorSpec.scala
  modules/common/src/test/scala/surge/kafka/streams/AggregateStateStoreKafkaStreamsSpec.scala
  modules/surge-docs/src/test/resources/application.conf
  modules/surge-docs/src/test/scala/docs/command/BankAccountCommandEngineSpec.scala
  modules/surge-docs/src/test/scala/docs/command/BankAccountEngine.scala
Labels: enhancement

#46 Feature/enable disable health signal stream
  modules/command-engine/core/src/main/scala/surge/core/KafkaProducerActor.scala
  modules/command-engine/core/src/main/scala/surge/internal/core/SurgePartitionRouterImpl.scala
  modules/command-engine/core/src/main/scala/surge/internal/domain/SurgeMessagePipeline.scala
  modules/common/src/main/resources/reference.conf
  modules/common/src/main/scala/surge/health/config/HealthSignalBusConfig.scala
  modules/common/src/main/scala/surge/internal/akka/actor/ActorLifecycleManagerActor.scala
  modules/common/src/main/scala/surge/internal/health/HealthSignalBus.scala
  modules/common/src/main/scala/surge/internal/health/HealthSignalStreamProvider.scala
  modules/common/src/main/scala/surge/kafka/streams/AggregateStateStoreKafkaStreams.scala
  modules/common/src/test/scala/surge/internal/health/HealthSignalBusSpec.scala
  modules/common/src/test/scala/surge/internal/health/windows/actor/HealthSignalWindowActorSpec.scala
  modules/common/src/test/scala/surge/internal/health/windows/stream/sliding/SlidingHealthSignalStreamSpec.scala
  modules/surge-docs/src/test/scala/docs/command/BankAccountCommandEngineSpec.scala
  project/Dependencies.scala
Labels: enhancement

#52 allow actorlifecyclemanager to accept stop msg when already stopped
  modules/command-engine/core/src/test/scala/surge/internal/domain/SurgeMessagePipelineSpec.scala
  modules/common/src/main/scala/surge/internal/akka/actor/ActorLifecycleManagerActor.scala
  modules/common/src/main/scala/surge/internal/health/windows/actor/HealthSignalWindowActor.scala
  modules/common/src/test/scala/surge/internal/health/windows/actor/HealthSignalWindowActorSpec.scala
Labels: bug

#40 Add Repository Tour page to docs for review. Not yet added to index.
  modules/surge-docs/src/main/paradox/images/component-diagram.png
  modules/surge-docs/src/main/paradox/overview.md
  modules/surge-docs/src/main/paradox/repository-tour.md
Labels: documentation
